<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>home index</title>
  <!-- <link rel="stylesheet" href="/css/home/home.css">
  <link rel="stylesheet" href="cdn/bootstrap/css/bootstrap.min.css"> -->
  <%- include('../../../_global/common_css.html') %>
</head>
<body>
  <%- include('../../../_global/head.html') %>
  <img src="/image/default-profile-picture.jpg" alt="">
  <div class="container">
    1111111
  </div>
 
  <%- include('../../../_global/foot.html') %> 
         
  <%- include('../../../_global/common_js.html') %> 

  

  <script src="/bundle/home.js"></script>

</body>
</html>